@font-face{
  font-family:"Encode Sans";
  src:url("/storage/font/encode_sans/normal/EncodeSans-Regular.woff2") format("woff2");
  font-weight:400;
  font-style:normal;
}

@font-face{
  font-family:"Encode Sans";
  src:url("/storage/font/encode_sans/bold/EncodeSans-Bold.woff2") format("woff2");
  font-weight:700;
  font-style:normal;
}

:root{
/* Font Family */

  --font-primary:"Encode Sans", sans-serif;

/* Font Weight */

  --weight-regular:400;
  --weight-bold:700;

  /* Colors */

  --color-01:#292526;
  --color-02:#787676;
  --color-03:#A3A1A2;
  --color-04:#F2F2F2;
  --color-05:#121111;

  /* Spacing */

  --space-1:4px;
  --space-2:8px;
  --space-3:12px;
  --space-4:16px;
  --space-5:20px;
  --space-6:24px;
  --space-7:28px;
  --space-8:32px;

  /* Font Size */

  --text-xs:12px;
  --text-sm:14px;
  --text-md:15px;
  --text-lg:16px;
  --text-xl:24px;
  --text-2xl:32px;
  --text-3xl:36px;

  /* Border Radius */

  --radius-sm:10px;
  --radius-md:12px;
  --radius-lg:14px;
  --radius-xl:22px;
  --radius-pill:999px;
}