<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Ecommerce Clothing Home</title>
<link rel="stylesheet" href="../css/profile.css">
</head>

<body>

<div class="container">

<header class="header">

<div class="header-left">
<span class="hora">9:41</span>
<span class="header-saludo">Hello, Welcome 👋</span>
<span class="header-saludo">Pagina Perfil Usuario </span>
<h1 class="header-name">Johlver Pardo</h1>
</div>

<div class="header-right">
<span class="swb">
<img src="../storage/img/Mobile Signal.png">
<img src="../storage/img/Wifi.png">
<img src="../storage/img/Battery.png">
</span>

<div class="header-avatar">
<a href="views/profile.html">
  <img src="../storage/img/avatar.jpg">
</a>
</div>
</div>

</header>

<nav class="nav">
    <div class="IAMC">
        <a href="../index.html" class="Inicio">
            <div class="inicio">Inicio</div>
        </a>
            <div class="Amigos">Amigos</div>
            <div class="Mensajes">Mensajes</div>
            <div class="Configuración">Configuración</div>
            <div class="Editar">Editar Perfil</div>
            <a class="detail" href="../views/detail.html">
                <div>Ver pedidos</div>
            </a>
    </div>
    </div>
</nav>

<section class="Información">
    <h2 class="grande">NOMBRE</h2>
    <H3 class="info">Información</H3>
    <p class="parrafo">Correo Electronico: JohlverVader@gmail.com</p>
    <p class="parrafo">Ubicación: Mi casa</p>
    <p class="parrafo">Ocupación: Matar estudiantes</p>
    <p class="parrafo">Sitio web: camper.campuslands.com</p>
</section>

<footer class="pie de pagina">
    <h3 class="yo">Acerca de mi</h3>
    <div class="latin">
        <div>Si lees esto y cumplo con las rubricas aun que se vea horrible me debes los puntos extra para el 100</div>
    </div>
</footer>
